body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #090d0d;
    background-color: #000000;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 20px;
    margin-top: 7px;
    box-sizing: border-box;
    background: 
    linear-gradient(to bottom right, #d0d8ff, #f3e6ff);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 350px;
    height:490px;
}

h1 {
    font-size: 40px;
    margin-bottom: 15px;
    text-align: center;
}
h2 {
    text-align: left;
    margin-left: 17px;
    color: #000000;
    font-weight: bold;
}

h3{
    text-align: center;
    margin-left: 15px;
    color: #000000;
    font-weight: bold;
    margin-top: 15px;
}

input {
    width: 80%;
    background: #ffffff;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 5px;
    margin-left: 8px;
    text-align: center;
    font-size: 14px;
    color: #000000;
}

.fetchStats {
    display: flex;
    justify-content: center;
    margin-left: 10px ;
    margin-top: 10px;
    margin-bottom:8px;
    width: 88%;
    padding: 10px 15px;
    background: #5c7cfa;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.fetchStats:hover {
    background-color: #4500b3;
    transform: translateY(-3px);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.back {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 6px 12px;
    background-color: #5c7cfa; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back:hover {
    background-color: #4263eb; 
    transform: translateY(-2px); 
}

#stats {
    margin-top: 10px;
    color: #3f3b3b;
}
